
.nos {
    background-color: #E6E4E9;
}

.nos .container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nos .content {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    max-width: 900px;
}

.nos .img_empresa {
    height: fit-content;
}

.nos h1 {
    color: var(--navy-dark);
    text-align: left; 
    font-family: "Montserrat";
    margin-bottom: 20px; 
    transition: color 0.3s ease-in-out;
}

.nos h1:hover {
    color: var(--navy-dark);
}

.linha {
    width: 100%;
    height: 4px;
    background-color: var(--orange);
    margin: 10px 0;
}


.nos p {
    color: var(--navy-dark);
    font-family: inherit ;
    margin-bottom: 20px; 
}

.img_empresa img { 
    height: 390px; 
    margin-left: 4%;
    border-radius: 20px;
}


.btn-sensores {
    border-bottom: 20px; 
    padding: 10px 50px; 
    background-color: var(--navy-dark); 
    color: white;
    border-radius: 120px; 
    font-size: 20px; 
    transition: background-color 0.3s ease-in-out;
    width: fit-content;
}

.btn-sensores:hover {
    background-color: var(--orange); 
}

